.change_data_btn {
	padding: 10px 13px;
	display: block;
	border: none;
	cursor: pointer;
	margin: 16px 0;
	background-color: var(--color-gray);
	border-radius: 5px;
	color: var(--color-text-secondary);
	font-family: var(--var-font-main);
	font-weight: 500;
	font-size: 14px;
}

.change_data_btn:active {
	outline: none;
	box-shadow:
		inset -2px -2px 3px rgba(255, 255, 255, 0.6),
		inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.change_data_btn__gray {
	background-color: var(--color-gray);
}

.change_data_btn__blue {
	background-color: var(--color-blue);
}

.change_data_btn__size_little {
	padding: 5px 13px;
	width: 100%;
	font-weight: 600;
	font-size: 12px;
}
