.personal_data_data {
	width: 100%;
	margin-top: 27px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.personal_data__consentNewsletter {
	color: var(--color-text-main);
	font-family: var(--var-font-main);
	font-weight: 500;
	font-size: 8px;
	padding-left: 10px;
}

.data__consentNewsletter_checked::before {
	display: inline-flex;
	content: " ";
	background-image: url("../../lib/images/checkbox.svg");
	background-size: 10px 10px;
	height: 10px;
	width: 10px;
	margin-right: 5px;
}

.data__consentNewsletter_unchecked::before {
	display: inline-flex;
	content: " ";
	background-image: url("../../lib/images/checkbox-unchecked.svg");
	background-size: 10px 10px;
	height: 10px;
	width: 10px;
}
