.search_main {
  border: 1px solid #000;
  width: 400px;
  height: 40px;
  border-radius: 9px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.search_main__icon {
  width: 20px;
  height: 20px;
}

.search_main__input {
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.search_main__input:focus {
  outline: none;
}

.search_main__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url('../../../../public/images/close.svg');
}

.search_main__btn {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: var(--color-main);
  padding: 7px 20px;
  border-radius: 7px;
}
