.sc_title {
	width: 100%;
	font-family: var(--var-font-main);
	font-weight: 700;
	font-size: 24px;
	line-height: 3;
}

.sc_container {
	min-width: 100%;
}

.sc__empty_block {
	display: block;
	width: 100%;
	height: 30px;
	background-color: var(--color-light-gray);
}

.sc__product_list {
	list-style-type: none;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sc__product_list__title {
	width: 100%;
	height: 30px;
	display: grid;
	grid-template-columns: 80px auto 150px 100px 150px 100px;
	align-items: center;
	gap: 30px;
	font-family: var(--var-font-main);
	font-weight: 500;
	font-size: 14px;
	background-color: var(--color-light-gray);
}

.sc__product_list__title_item {
	justify-self: center;
}

.sc__delivery {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sc__delivery__item_input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.sc__delivery__item_span {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.sc__delivery__item_span::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #000;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}

/* стили при наведении курсора на радио */
.sc__delivery__item_input:not(:disabled):not(:checked)
	+ .sc__delivery__item_span:hover::before {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* стили для радиокнопки, находящейся в фокусе */
.sc__delivery__item_input:focus + .sc__delivery__item_span::before {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.sc__delivery__item_input:focus:not(:checked)
	+ .sc__delivery__item_span::before {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.sc__delivery__item_input:checked + .sc__delivery__item_span::before {
	background-image: url("../../../lib/images/icon-checked.svg");
	box-shadow: none;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.sc__delivery__item_input:disabled + .sc__delivery__item_span::before {
	background-color: var(--color-light-gray);
	border-color: var(--color-gray);
}
