.cs_title {
	width: 100%;
	font-family: var(--var-font-main);
	font-weight: 700;
	font-size: 24px;
	line-height: 3;
}

.sc_container {
	min-width: 100%;
}

.sc__product_list {
	list-style-type: none;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cs__product_list__title {
	width: 100%;
	display: grid;
	grid-template-columns: 80px auto 150px 100px 150px 100px;
	gap: 30px;
	font-family: var(--var-font-main);
	font-weight: 500;
	font-size: 14px;
}

.cs__product_list__title_item {
	justify-self: center;
}
