.sc_title {
	width: 100%;
	font: 700 24px var(--var-font-main);
	line-height: 3;
}

.sc_container {
	min-width: 100%;
}

.sc__empty_block {
	display: block;
	width: 100%;
	height: 30px;
	background-color: var(--color-light-gray);
}

.sc__privacy_policy {
	width: 100%;
}
