.news_preview {
	width: 280px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 5px;
}

.news_preview_title {
	font-family: var(--var-font-main);
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 15px;
}

.news_preview_text {
	font-family: var(--var-font-main);
	font-weight: 500;
	font-size: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
