.input_number {
	height: 30px;
	display: flex;
	align-items: center;
	position: relative;
	border: 1px solid #000;
	border-radius: 8px;
}

.input_number_large {
	height: 47px;
}

.input_number__input {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	text-align: center;
	width: 35px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	color: var(--color-text-main);
}

.input_number__input_large {
	width: 68px;
	font-weight: 400;
	font-size: 20px;
}

.input_number__input:focus {
	outline: none;
}

.input_number__input::-webkit-outer-spin-button,
.input_number__input::-webkit-inner-spin-button {
	display: none;
}

.input_number__btn {
	border: none;
	background-color: transparent;
	padding: 0 4px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background-color: transparent;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.input_number__btn_minus {
	background-image: url(../../../lib/images/icon-minus.svg);
}

.input_number__btn_plus {
	background-image: url(../../../lib/images/icon-plus.svg);
}

.input_number__btn_large {
	width: 25px;
	height: 25px;
}
