.customer__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.customer__empty_block {
	display: block;
	width: 100%;
	height: 30px;
	background-color: var(--color-light-gray);
}

.customer__empty_block__margin {
	margin: 15px 0;
}

.customer__title {
	font: 700 24px var(--var-font-main);
	margin: 10px 0;
}
