.menu {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
}

.menu__item {
  color: var(--color-text-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
}

.menu__item:hover {
  text-decoration: underline;
}
