.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
}

.container {
  width: 73%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_link_container {
  margin: 47px auto;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-blue);
  padding: 19px 29px;
  border-radius: 9px;
  cursor: pointer;
}

.main_social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_social_title {
  font-weight: 600;
  font-size: 23px;
}

.main_social_link {
  width: 42px;
  min-width: 42px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.main_social_link {
  opacity: 0.8;
}

.link_telegram {
  background-image: url(../lib/images/telegram_icon.png);
}

.link_instaram {
  background-image: url(../lib/images/instagram_icon.png);
}

.link_vk {
  background-image: url(../lib/images/vk_icon.png);
}
