.client-card {
	padding-left: 45px;
	min-width: 400px;
}

.client-card__title {
	color: var(--color-text-main);
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 30px;
}

.client-card__info {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	margin: 30px 10px;
}

.client-card__info-value {
	display: inline-block;
	font-weight: 700;
	font-size: 24px;
}
