.last_news {
	width: 100%;
	margin-top: 25px;
}

.last_news__title {
	font-family: var(--var-font-main);
	font-weight: 700;
	font-size: 24px;
	line-height: 4.5;
	text-align: center;
}

.last_news__zone {
	display: flex;
	justify-content: space-between;
}
